[Unit]
Description=PulseAudio DLNA Daemon

[Service]
Type=simple
User=sonos
Group=sonos
PrivateTmp=true
ExecStart=/bin/bash -c '/usr/bin/dbus-run-session /usr/bin/pulseaudio-dlna --codec=flac --auto-reconnect'
RestartSec=15
Restart=on-failure

[Install]
WantedBy=multi-user.target
